:root {
	/* functional */
	--white: #fff;
	--black: #222;
	--lt-gray: #f8f8f8;
	--gray: #eaeaea;
	/* teal (default) */
	--dk-teal: #02474d;
	--teal: #046169;
	--lt-teal: #217b7e;
	/* navy */
	--dk-navy: #243f5a;
	--navy: #435472;
	--lt-navy: #586e95;
	/* pink */
	--dk-pink: #64192d;
	--pink: #833b4c;
	--lt-pink: #a1566c;
}

/* Google Font
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* Global */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:disabled {
	pointer-events: none;
	opacity: 0.5;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.75;
	letter-spacing: 0.25px;
	color: var(--white);
	background-color: var(--teal);
}

body.navy {
	background-color: var(--navy);
}

body.pink {
	background-color: var(--pink);
}

body:has(dialog[open]) {
	overflow: hidden;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: red;
	stroke: blue;
}

p {
	max-width: 70ch;
	margin: 0 0 1rem;
	font-size: 1.25rem;
}

li {
	font-size: 1.25rem;
}

a {
	text-decoration-color: var(--white);
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--white);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

h1,
h2,
h3 {
	margin: 0 0 1rem;
	line-height: 1.25;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.secondary_heading {
	font-size: 1.5rem;
}

/* Buttons */
button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button {
	padding: 0.75rem 1rem;
	color: var(--dk-teal);
	border: 2px solid var(--white);
	background-color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.navy .button {
	color: var(--dk-navy);
}

.pink .button {
	color: var(--dk-pink);
}

.button.active,
.button:focus,
.button:hover,
.button:active {
	background-color: transparent;
	color: var(--white);
}

.button_outline {
	color: var(--white);
	background-color: transparent;
}

.navy .button_outline,
.pink .button_outline {
	color: var(--white);
}

.button_outline:focus,
.button_outline:hover,
.button_outline:active {
	color: var(--dk-teal);
	background-color: var(--white);
}

.navy .button_outline:focus,
.navy .button_outline:hover,
.navy .button_outline:active {
	color: var(--dk-navy);
}

.pink .button_outline:focus,
.pink .button_outline:hover,
.pink .button_outline:active {
	color: var(--dk-pink);
}

/* Counter Buttons */
.counter_label.black {
	color: var(--black);
}

.counter_card .button {
	width: auto;
	height: 3rem;
	vertical-align: bottom;
}

.counter_card .button svg {
	width: 1.333rem;
	height: 1.333rem;
	stroke: var(--dk-teal);
	transition: stroke 300ms ease-in-out;
}

.navy .counter_card .button svg {
	stroke: var(--dk-navy);
}

.pink .counter_card .button svg {
	stroke: var(--dk-pink);
}

.counter_card .button:focus svg,
.counter_card .button:hover svg,
.counter_card .button:active svg {
	stroke: var(--white);
}

/* Skip to Content */
.skip_nav {
	position: fixed;
	top: 0;
	left: 50%;
	font-size: 0;
	background-color: var(--white);
	transform: translateX(-50%);
	z-index: 1;
}

.skip_nav:focus-within {
	font-size: 1.25rem;
}

.skip_nav:focus-within a {
	display: block;
	padding: 0.5rem;
	color: var(--dk-teal);
}

.navy .skip_nav:focus-within a {
	color: var(--dk-navy);
}

.pink .skip_nav:focus-within a {
	color: var(--dk-pink);
}

#content {
	position: relative;
	top: -5rem;
}

/* Screen Reader Only */
.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Defaults */
.section {
	padding: clamp(1rem, 4vw, 3rem) 0;
	margin-inline: clamp(1rem, 4vw, 3rem);
	border-top: 3px dotted var(--dk-teal);
}

.navy .section {
	border-top: 3px dotted var(--dk-navy);
}

.pink .section {
	border-top: 3px dotted var(--dk-pink);
}

.wrap {
	max-width: 62.5rem;
}

/* Header */
.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-image: linear-gradient(to right, var(--teal), var(--dk-teal));
	z-index: 2;
}

.navy .header {
	background-image: linear-gradient(to right, var(--navy), var(--dk-navy));
}

.pink .header {
	background-image: linear-gradient(to right, var(--pink), var(--dk-pink));
}

.primary-logo {
	margin: 0;
	font-weight: 400;
}

.primary-logo a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	letter-spacing: 0.25px;
	text-decoration-color: transparent;
	font-size: clamp(1.1rem, 2vw, 1.25rem);
	transition: text-decoration-color 300ms ease-in-out;
}

.primary-logo a:focus,
.primary-logo a:hover,
.primary-logo a:active {
	text-decoration-color: var(--white);
}

.icon_wrap {
	white-space: nowrap;
}

/* Social Icons */
.social_navigation {
	display: inline-block;
	vertical-align: bottom;
	line-height: 1;
}

.social_nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	gap: 0.25rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.social_nav a {
	display: block;
	padding: 0.875rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.social_nav a:focus,
.social_nav a:hover,
.social_nav a:active {
	background-color: var(--white);
}

.social_nav svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--white);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus svg,
.social_nav a:hover svg,
.social_nav a:active svg {
	fill: var(--dk-teal);
}

.navy .social_nav a:focus svg,
.navy .social_nav a:hover svg,
.navy .social_nav a:active svg {
	fill: var(--dk-navy);
}

.pink .social_nav a:focus svg,
.pink .social_nav a:hover svg,
.pink .social_nav a:active svg {
	fill: var(--dk-pink);
}

/* Flex Container */
.flex_container {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.section_container {
	width: calc(100% - 400px);
}

@media (max-width: 960px) {
	.section_container {
		width: 100%;
	}
}

/* Navigation */
.menu_button {
	display: none;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.menu_button:focus,
.menu_button:hover,
.menu_button:active {
	background-color: var(--white);
}

.menu_button svg {
	width: 2rem;
	height: 2rem;
	stroke: var(--white);
	transition: stroke 300ms ease-in-out;
}

.menu_button:focus svg,
.menu_button:hover svg,
.menu_button:active svg {
	stroke: var(--dk-teal);
}

.navigation {
	position: sticky;
	top: 80px;
	left: 0;
	padding: 1rem 1rem 6.25rem;
	width: 400px;
	height: 100dvh;
	overflow-y: scroll;
	background-color: var(--dk-teal);
	z-index: 1;
}

.navy .navigation {
	background-color: var(--dk-navy);
}

.pink .navigation {
	background-color: var(--dk-pink);
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.main_nav li:nth-of-type(n + 6):nth-of-type(-n + 30) a {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.main_nav li:nth-of-type(n + 6):nth-of-type(-n + 30) a:focus {
	outline: 2px dashed currentColor;
	opacity: 0.45;
}

.main_nav a {
	font-size: 1.25rem;
	line-height: 2;
	text-decoration-color: transparent;
}

.main_nav a.active,
.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	text-decoration-color: var(--white);
}

.social_mobile {
	display: none;
}

@media (max-width: 960px) {
	.menu_button {
		display: inline-block;
		vertical-align: bottom;
		line-height: 1;
	}

	.menu_close {
		display: block;
		margin-left: auto;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -400px;
		max-width: 100%;
		padding: 1rem;
		transform: translateX(0);
		z-index: 3;
		transition:
			transform 300ms linear,
			visibility 300ms linear;
	}

	.main_nav {
		padding: 1rem 0;
		margin: 1rem 0;
		border-top: 3px dotted var(--teal);
		border-bottom: 3px dotted var(--teal);
	}

	.navy .main_nav {
		border-top: 3px dotted var(--navy);
		border-bottom: 3px dotted var(--navy);
	}

	.pink .main_nav {
		border-top: 3px dotted var(--pink);
		border-bottom: 3px dotted var(--pink);
	}

	.social_desktop {
		display: none;
	}

	.social_mobile {
		display: flex;
		justify-content: center;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateX(400px);
	}

	.menu_active .menu_open {
		visibility: hidden;
	}
}

/* Main Header */
.page_header,
.navy .page_header,
.pink .page_header {
	border-top: none;
}

.page_title {
	font-size: clamp(1.75rem, 4vw, 3rem);
}

/* Forms */
label {
	display: inline-block;
	margin: 0 0 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea {
	width: 100%;
	padding: 1rem;
	margin: 0 0 0.25rem;
	border: 2px solid var(--white);
}

.field_meta.red {
	color: red;
}

/* Accordions */
.accordion_item {
	margin: 0;
}

.accordion_item h3 {
	margin: 0 0 0.5rem;
}

.accordion_trigger {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
	text-transform: none;
	text-align: left;
	letter-spacing: 0.25px;
}

.accordion_trigger svg {
	width: 1.5rem;
	height: 1.5rem;
	transform: rotate(0deg);
	stroke: var(--dk-teal);
	transition:
		stroke 400ms ease-in-out,
		transform 400ms ease-in-out;
}

.accordion_trigger:focus svg,
.accordion_trigger:hover svg,
.accordion_trigger:active svg {
	stroke: var(--white);
}

.accordion_panel {
	visibility: hidden;
	max-height: 0;
	transition:
		max-height 400ms ease-in-out,
		visibility 400ms ease-in-out;
}

.active .accordion_panel {
	visibility: visible;
	max-height: 1000px; /* adjust to the maximum amount of content in your panel */
}

.active .accordion_trigger svg {
	transform: rotate(-45deg);
}

/* Modal Dialog */
.modal {
	color: var(--white);
	border: 2px solid var(--white);
	background-color: var(--teal);
}

.navy .modal {
	background-color: var(--navy);
}

.pink .modal {
	background-color: var(--pink);
}

dialog[open] {
	position: fixed;
	inset: 0;
	z-index: 2;
}

dialog[open]::backdrop {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 50%);
}

/* this is for backdrop styling only */
/* .section:has(dialog)::after {
	content: "";
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 85%);
	z-index: 1;
} */

/* Tab Panels */
.tab_panels {
	position: relative;
	inset: 0;
	width: fit-content;
	padding: 1rem 1rem 0.25rem;
	margin: 1rem 0 0;
	border: 2px solid var(--white);
	z-index: 0;
}

.tab_item {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 0;
}

.tab_item.active {
	visibility: visible;
	opacity: 1;
	position: relative;
	height: auto;
}

/* About Me */
.about_me {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 2rem;
}

.about_me .figure {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	z-index: 0;
}

.about_me .figure::after {
	content: "";
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	border-radius: 50%;
	border: 3px dotted var(--lt-teal);
	pointer-events: none;
	z-index: 1;
}

.navy .about_me .figure::after {
	border: 3px dotted var(--lt-navy);
}

.pink .about_me .figure::after {
	border: 3px dotted var(--lt-pink);
}

.about_me img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width: 1200px) {
	.about_me {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.about_me .figure {
		max-width: 350px;
		margin-inline: auto;
	}
}

/* Footer */
.footer {
	padding: 2rem 1rem;
	text-align: center;
	background-color: var(--dk-teal);
}

.navy .footer {
	background-color: var(--dk-navy);
}

.pink .footer {
	background-color: var(--dk-pink);
}

.footer p {
	margin: 0 auto;
}

/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism&languages=markup+css+clike+javascript */
code[class*="language-"],
pre[class*="language-"] {
	color: #000;
	background: 0 0;
	text-shadow: 0 1px #fff;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 2;
	-moz-tab-size: 0.25;
	-o-tab-size: 0.25;
	tab-size: 0.25;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"] {
	padding: 0;
	margin: 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #708090;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: 0.7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
	color: #905;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
	color: #690;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.class-name,
.token.function {
	color: #dd4a68;
}

.token.important,
.token.regex,
.token.variable {
	color: #e90;
}

.token.bold,
.token.important {
	font-weight: 700;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
